body {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  gap: 2rem;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
img {
  width: 100%;
}
 div {
   background: pink;
   grid-column
 }
.een {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: lightpink;
  filter: blur(5px);
  transition:filter .5s, transform .5s;
}

.een:hover {
  filter: blur(0px);
transform:scale(1);
}

.een h1 {
  font-size: 5rem;
  position: absolute;
  margin-left: 5rem;
  margin-top: 2rem;
 text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
  color: white;
  font-family: fantasy;
}
.een h2 {
  font-size: 4rem;
  position: absolute;
  margin-left: 2.5rem;
  margin-top: 20rem;
  font-family: monospace;
}

.een h3 {
  font-size: 4rem;
  position: absolute;
  margin-left: 18rem;
  margin-top: 35rem;
  font-family: monospace;
}

.twee {
  grid-row: 1 / 3;
  background-color: cornflowerblue;
}

.drie {
  grid-column: 4/6;
  background-color: cornflowerblue;
}

.vier{
  grid-column: 1/4;

}
 div:nth-child(4) {
   background-image: repeating-linear-gradient(-45deg, plum, plum 20px, white 20px, white 40px);
}

.vijf {
  grid-column: 4/6;
  grid-row: 2/4;
  background-color: hotpink;
}

.vijf h1 {
    font-size: 10rem;
    position: absolute;
    margin-left: 12.5rem;
    margin-top: 5rem;
   text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    color: white;
    font-family: fantasy;
  }

  .vijf h2 {
    font-size: 10rem;
    position: absolute;
    margin-left: 11.5rem;
    margin-top: 15rem;
   text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    color: white;
    font-family: fantasy;
  }

  .vijf h3 {
    font-size: 10rem;
    position: absolute;
    margin-left: 10rem;
    margin-top: 25rem;
   text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    color: white;
    font-family: fantasy;
  }

  @media (min-width: 600px) {

      body {
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
      }


  @media (min-width: 600px) {

  h1, h2, h3 {
      font-size: 1rem;
    }
}
